system mtu routing 1500

no ip forward-protocol nd

snmp-server enable traps transceiver all
snmp-server enable traps entity
snmp-server enable traps cpu threshold
snmp-server enable traps tty
snmp-server enable traps config
snmp-server enable traps envmon fan shutdown supply temperature status
snmp mib flash cache
