    Code version: {{ ansible_net_version }}
    Switch Model: {{ ansible_net_model }}
    Serial Number: {{ ansible_net_serialnum }}

    Updates to be applied to bring device into compliance:
    {% for command in config_results.updates %}
        {{ command }}
    {% endfor %}
    {% for command in domain_results.commands %}
        {{ command }}
    {% endfor %}
    {% for command in user_results.commands %}
        {{ command }}
    {% endfor %}
    {% for command in tacacs_results.updates %}
        {{ command }}
    {% endfor %}
