# templates/mail_body.j2
{% for host in play_hosts %}
{{ host }} report:

Updates to be applied to bring device into compliance:
{% for command in config_results.updates %}
{{ command }}
{% endfor %}

Users to be added or removed:
{% for command in user_result.command%}}
{{ command }}
{% endfor %}}

--------------------------------------------------------------------

{% endfor %}